- content_for(:header_title) { t(".welcome") }

- if @groups.any?
  %h2= t(".latest_updated_groups")
  - @groups.each do |group|
    %h3= link_to_group group
    - group.pictures.order(:updated_at).limit(6).reverse_order.each do |picture|
      = picture_image_tag picture, group: group, width: 100
- else
  = t(".no_groups_has_been_created_yet")
