body.controller_pictures {
  &.action_show {
    &.desktop {
      .picture-container {
        position: relative;
        border: 1px solid black;
        border-radius: 2%;
      }
    }

    .tagged-user {
      position: absolute;
      display: none;
      border: 4px solid white;
      width: 100px;
      height: 100px;
    }

    .navigation-links {
      width: 100%;

      .previous {
        text-align: left;
      }

      .next {
        text-align: right;
      }
    }

    #map-canvas {
      width: 100%;
      height: 400px;
    }
  }
}

.picture-image {
  border: 1px solid black;
  border-radius: 8%;
}
