body.controller_pictures {
  &.action_show {
    .picture-panel-container .picture-panel {
      .previous {
        width: 65px;
      }

      .picture-title h4 {
        margin: 2px 0 0;
        padding: 0;
      }

      .next {
        width: 65px;
      }

      .picture-container {
        position: relative;
        display: inline-block;

        img {
          border-radius: 5px;
          border: 1px solid #000;
        }
      }
    }

    .tagged-user {
      position: absolute;
      display: none;
      border: 4px solid white;
      width: 100px;
      height: 100px;
    }

    #map-canvas {
      width: 100%;
      height: 400px;
    }
  }
}

.picture-image {
  border: 1px solid black;
  border-radius: 8%;
  margin-right: 10px;
  margin-bottom: 10px;
}
