- content_for(:header_title) { FamilyGallery::Group.model_name.human(count: 2) }

- if can? :new, FamilyGallery::Group
  - content_for(:header_right) { link_to t("add_new"), new_group_path, class: "mobile-button-header" }

%table.mobile-table.list
  %thead
    %tr
      %th= sort_link @ransack, :name
  %tbody
    - @groups.each do |group|
      %tr
        %td= link_to_group group
    - unless @groups.any?
      %tr
        %td.error{colspan: 1}= t("no_results")
